/*Header Font*/
.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* CSS HEX */
  --platinum: #cfdbd5ff;
  --alabaster: #e8eddfff;
  --saffron: #f5cb5cff;
  --eerie-black: #242423ff;
  --jet: #333533ff;
}

.background {
  position: relative;
  background-image: url("img/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
