/*Header Font*/
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Atkinson+Hyperlegible+Mono:ital@0;1&family=Borel&family=Bubblegum+Sans&family=Bubbler+One&family=Cherry+Bomb+One&family=Crafty+Girls&family=Enriqueta:wght@400;500;600;700&family=Fuzzy+Bubbles:wght@400;700&family=Gochi+Hand&family=Hachi+Maru+Pop&family=Metamorphous&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Poppins&family=Rubik+Puddles&family=Share+Tech+Mono&family=Sono:wght@200..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

.enriqueta-regular {
  font-family: "Enriqueta", serif;
  font-weight: 400;
  font-style: normal;
}

.enriqueta-medium {
  font-family: "Enriqueta", serif;
  font-weight: 500;
  font-style: normal;
}

.enriqueta-semibold {
  font-family: "Enriqueta", serif;
  font-weight: 600;
  font-style: normal;
}

.enriqueta-bold {
  font-family: "Enriqueta", serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  /* CSS HEX */
  --platinum: #cfdbd5ff;
  --alabaster: #e8eddfff;
  --saffron: #f5cb5cff;
  --eerie-black: #242423ff;
  --jet: #333533ff;
}

.navbar .container {
  display: flex;
  padding: 2% 8%;
  align-items: center;
  justify-content: space-between;
}

.navbar .container .logo img {
  width: 90px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 15px;
  padding-top: 10px;
}

.website-name {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--saffron);
  font-family: "Enriqueta", serif;
}

.company-name {
  font-size: 0.9em;
  color: var(--platinum);
  margin-top: 2px;
  font-family: "Enriqueta", serif;
}

.brand-text a {
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
}

.navbar-menu .navbar-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar-links a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: var(--platinum);
  font-family: "Enriqueta", serif;
}

.login-btn {
  background-color: var(--saffron);
  padding: 8px 16px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: var(--eerie-black);
  font-family: "Enriqueta", serif;
}
