:root {
  /* CSS HEX */
  --platinum: #cfdbd5ff;
  --alabaster: #e8eddfff;
  --saffron: #f5cb5cff;
  --eerie-black: #242423ff;
  --jet: #333533ff;
}

.navbar .container {
  display: flex;
  padding: 2% 8%;
}

.navbar .container .logo img {
  width: 90px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-right: 2px;
}

.website-name {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--saffron);
}
