.navbar .container {
  display: flex;
  padding: 2% 8%;
}

.navbar .container .logo img {
  width: 90px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.website-name {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--);
}
